<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
<!--        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.idle_test_period">1800</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">3000</property>
        -->
        
        <!--<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <!--<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>-->
               <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--<property name="hibernate.show_sql">false</property>-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/motel</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456a@</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>-->
                <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--<property name="hbm2ddl.auto" >create</property>-->

        <mapping class="com.slook.model.CatRole"/>
        <mapping class="com.slook.model.CatUser"/>
<!--        <mapping class="com.slook.model.CatBranch"/>
        <mapping class="com.slook.model.CatGroupPack"/>
        <mapping class="com.slook.model.CatMachine"/>
        <mapping class="com.slook.model.CatPack"/>
        <mapping class="com.slook.model.CatRateMember"/>
        <mapping class="com.slook.model.CatRoom"/>
        <mapping class="com.slook.model.CatService"/>
        <mapping class="com.slook.model.CatServicePack"/>
        <mapping class="com.slook.model.Member"/>
        <mapping class="com.slook.model.Membership"/>
        <mapping class="com.slook.model.MemberCare"/>
        <mapping class="com.slook.model.MemberCheckin"/>
        <mapping class="com.slook.model.MemberHealth"/>
        <mapping class="com.slook.model.MemberPayment"/>
        <mapping class="com.slook.model.MemberPromotion"/>
        <mapping class="com.slook.model.TaskCare"/>
        <mapping class="com.slook.model.CatJobTitle"/>
        <mapping class="com.slook.model.Schedule"/>
        <mapping class="com.slook.model.Employee"/>
        <mapping class="com.slook.model.CatDepartment"/>
        <mapping class="com.slook.model.PromotionGroupPack"/>
        <mapping class="com.slook.model.GroupHasPack"/>
        <mapping class="com.slook.model.MemberCare"/>
        <mapping class="com.slook.model.MemberCareStatus"/>
        <mapping class="com.slook.model.CatAddressCity"/>
        <mapping class="com.slook.model.CatAddressDistrict"/>
        <mapping class="com.slook.model.CatAddressStreet"/>
        <mapping class="com.slook.model.EmployeeStatus"/>

        <mapping class="com.slook.model.CatCommune"/>
        <mapping class="com.slook.model.CatDistrict"/>
        <mapping class="com.slook.model.CatProvince"/>-->

        <mapping class="com.slook.model.CatItemBO"/>
        <mapping class="com.slook.model.V_CatItemBO"/>
        <mapping class="com.slook.model.CatDictionaryBO"/>
        <mapping class="com.slook.model.LogAction"/>
<!--        <mapping class="com.slook.model.CfgWsTimekeeper"/>
        <mapping class="com.slook.model.Document"/>
        
        <mapping class="com.slook.model.CatPromotion"/>
        <mapping class="com.slook.model.MemberUsedService"/>
        <mapping class="com.slook.model.GroupHasMember"/>
        <mapping class="com.slook.model.Client"/>
        <mapping class="com.slook.model.ClientUsePack"/>
        <mapping class="com.slook.model.ClientPayment"/>
        <mapping class="com.slook.model.ClientPromotion"/>
        <mapping class="com.slook.model.ClientUsedService"/>
        <mapping class="com.slook.model.GroupMember"/>
        <mapping class="com.slook.model.GroupMemberPayment"/>
        <mapping class="com.slook.model.GroupMemberPromotion"/>
        <mapping class="com.slook.model.GroupMemberUsedService"/>
        <mapping class="com.slook.model.GroupMembership"/>

        <mapping class="com.slook.model.V_ClientUsedService"/>
        <mapping class="com.slook.model.V_GroupMemberUsedService"/>
        <mapping class="com.slook.model.V_MemberUsedServiceFull"/>
        <mapping class="com.slook.model.CustomerCheckin"/>
        <mapping class="com.slook.model.V_CustomerCheckin"/>-->
        <mapping class="com.slook.model.FunctionPath"/>
        <mapping class="com.slook.model.RoleHasFunctionPath"/>
        <!--        <mapping class="com.slook.model.V_CustomerAccessStatus"/>
        <mapping class="com.slook.model.DoorAccessStatus"/>
        <mapping class="com.slook.model.CustomerSchedule"/>
        <mapping class="com.slook.model.CustomerSchedulePack"/>
        <mapping class="com.slook.model.V_GroupMemberDebtPayment"/>
        <mapping class="com.slook.model.V_MemberDebtPayment"/>
        <mapping class="com.slook.model.V_CustomerCheckinActive"/>
        <mapping class="com.slook.model.V_MemberPayment"/>
        <mapping class="com.slook.model.ServiceTicket"/>
        <mapping class="com.slook.model.V_ServiceTicket"/>
        <mapping class="com.slook.model.V_CustomerPayment"/>
        <mapping class="com.slook.model.V_CatRoomUse"/>
        <mapping class="com.slook.model.PackHasPromotion"/>-->
        
        
        <mapping class="com.motel.model.Bill"/>
        <mapping class="com.motel.model.BillService"/>
        <mapping class="com.motel.model.Contract"/>
        <mapping class="com.motel.model.ContractService"/>
        <mapping class="com.motel.model.Customer"/>
        <mapping class="com.motel.model.CustomerRoom"/>
        <mapping class="com.motel.model.ElectricWater"/>
        <mapping class="com.motel.model.GroupUser"/>
        <mapping class="com.motel.model.Home"/>
        <mapping class="com.motel.model.Room"/>
        <mapping class="com.motel.model.Service"/>

    </session-factory>

</hibernate-configuration>