<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name></display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.ocpsoft.rewrite.annotation.SCAN_LIB_DIRECTORY</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>commons</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>olympos</param-value>
    </context-param>

    <servlet>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>facesServlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
<!--
    <servlet>
        <servlet-name>GymWebservice</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GymWebservice</servlet-name>
        <url-pattern>/GymWebservice</url-pattern>
    </servlet-mapping>-->

    <!--Authentication Filter-->
    <filter>
        <filter-name>Authentication Filter</filter-name>
        <filter-class>com.slook.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication Filter</filter-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>/home/*</url-pattern>
        <url-pattern>/dashboard/*</url-pattern>
        <url-pattern>/check_in/*</url-pattern>
        <url-pattern>/employee/*</url-pattern>
        <url-pattern>/salary/*</url-pattern>
        <url-pattern>/work_day/*</url-pattern>
        <url-pattern>/login/*</url-pattern>
        <url-pattern>/branch/*</url-pattern>
        <url-pattern>/member_care/*</url-pattern>
        <url-pattern>/pack/*</url-pattern>
        <url-pattern>/room/*</url-pattern>
        <url-pattern>/member/*</url-pattern>
        <url-pattern>/schedule/*</url-pattern>
        <url-pattern>/jobtitle/*</url-pattern>
        <url-pattern>/door/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!--<listener>-->
        <!--<listener-class>com.viettel.vsa.util.SessionVTListener</listener-class>-->
    <!--</listener>-->

    <!--Log Filter-->
    <!--<filter>
        <filter-name>Log Filter</filter-name>
        <filter-class>com.slook.filter.ActionLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Log Filter</filter-name>
        <url-pattern>/home/*</url-pattern>
        <url-pattern>/config/*</url-pattern>
        <url-pattern>/monitor/*</url-pattern>
        <url-pattern>/object/*</url-pattern>
        <url-pattern>/dashboard/*</url-pattern>
        <url-pattern>/action_log/*</url-pattern>
    </filter-mapping>-->
    <!--<filter-mapping>-->
        <!--<filter-name>Log Filter</filter-name>-->
        <!--<url-pattern>*.do</url-pattern>-->
    <!--</filter-mapping>-->
    <session-config>
        <session-timeout>300</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <error-page>
        <error-code>302</error-code>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/access-denied.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>com.slook.exception.AppException</exception-type>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>com.slook.exception.SysException</exception-type>
        <location>/error.xhtml</location>
    </error-page>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot?#iefix</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exosemibold</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exobolditalic</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exomedium</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exoregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#fontawesomeregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
</web-app>